:host {
  display: block;
  margin-top: 1rem;
}

  .info-text {
    text-align: center;
  }
.edit{
color: rgb(30,177,150);
}
.delete {
  color: rgb(175, 40,0);
}
mat-spinner{
  margin: auto;
}
mat-paginator{
  margin-top: 1rem;
}

.post-image img {
  width: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
}
